img {
    padding:0px;
    border:0px;
    margin:0px;
}

/*table, tr, td {
    padding:0px;
    border:0px;
    margin:0px;
}
td {
	text-align: center;
}*/

.gameCanvas {
    position: absolute;
    top: -384px;
    left: -512px;
    pointer-events:none;
    /*z-index: 3;*/
}
.uiLayer {
	background-color:rgb(200,200,200);
    position: absolute;
    width:1024px; 
    height:768px;
    top: -384px;
    left: -512px;
    user-select: none;
    cursor:default;
    /*z-index: 1;*/
}
.uiLayer.bg1 {
	background: url('../images/elephant_bg1.gif') center center no-repeat;
}
.playerIcon {
    position: absolute;
    bottom: 2px;
    left: calc(50% - 435px * 0.25);
    background-repeat: no-repeat;
    width: calc(435px * 0.50);
    height: calc(165px * 0.50);
}
.exploremap {
	width: calc(475px * 2);
	height: calc(310px * 2);
	position: absolute;
	top: 33px;
	left: calc(50% - 475px);
}
.exploremap .mapSection {
	/**/
}
.triangle {
	width:0px;
	height:0px;
	border-left:calc(475px * 0.5) solid transparent;
	border-right:calc(475px * 0.5) solid transparent;
	border-top:calc(310px * 0.5) solid transparent;
	border-bottom:calc(310px * 0.5) solid transparent;
}
.triangle.up{
	border-top:calc(310px * 0.5) solid rgba(247,255,0,0.9);
}
.triangle.right{
	border-right:calc(475px * 0.5) solid rgba(247,255,0,0.9);
}
.triangle.left{
	border-left:calc(475px * 0.5) solid rgba(247,255,0,0.9);
}
.triangle.down{
	border-bottom:calc(310px * 0.5) solid rgba(247,255,0,0.9);
}
.firstPerson {
	font-size:0px;
	display:inline-block;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	pointer-events:none;
}
.mapGridOverlay {
	width:100%;
	height:100%;
	font-size:0px;
	display:inline-block;
	position:absolute;
	top:0px;
	left:0px;
}
.mapGrid {
	font-size:0px;
	display:inline-block;
	position:absolute;
	top:0px;
	left:0px;
}
.leftArrow {
	background: url('../images/btn_360_left.png');
    position: absolute;
    bottom: 19px;
    left: 28px;
    width: 105px;
    height: 65px;
    display: none;
}
.rightArrow {
	background: url('../images/btn_360_right.png');
    position: absolute;
    bottom: 19px;
    right: 28px;
    width: 105px;
    height: 65px;
    display: none;
}
.returnBtn {
	position: absolute;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    bottom: 116px;
    left: calc(50% - 50px);
    background-color: lightgray;
    border: solid 2px black;
}
.clueMap {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 725px;
    height: 575px;
    background-color: lightslategrey;
}
.clueBar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 768px;
    background-color: lightblue;
}
.clueBar .clueDrop1 {
    position: absolute;
    top: 60px;
    left: calc(50% - 75px);
    width: 150px;
    height: 175px;
    background-color: white;
}
.clueBar .clueDrop2 {
    position: absolute;
    top: calc(60px + 175px + 20px);
    left: calc(50% - 75px);
    width: 150px;
    height: 175px;
    background-color: white;
}
.clueBar .clueLegend {
    position: absolute;
    bottom: 160px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background-color: white;
}
.clueBar .clueDoneBtn {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 75px);
    width: 150px;
    height: 60px;
    background-color: white;
    border-radius: 5px;
    border: solid 2px black;
}
.cluePhase .playerIcon {
    position: absolute;
    bottom: 2px;
    left: 303.25px;
    background-repeat: no-repeat;
    width: calc(435px * 0.50);
    height: calc(165px * 0.50);
}