html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
img {
    padding:0px;
    border:0px;
    margin:0px;
}

@media (pointer:fine), (hover:hover) {
    .playBtn:hover {
        background-color:gray;
    }
    .leftArrow:hover {
        background: url('../images/btn_360_left_2_hover.png');
    }
    .rightArrow:hover {
        background: url('../images/btn_360_right_2_hover.png');
    }
    .clueBar .clueLegend:hover{
        background: url('../images/btn_legend_hover.png') center center no-repeat;
    }
    .clueBar .clueDoneBtn:hover {
        background: url('../images/btn_done_hover.png') center center no-repeat;
    }
    .searchBar .clueDoneBtn:hover {
        background: url('../images/btn_done_hover.png') center center no-repeat;
    }
    .cluePhase .clueIcon:hover {
        background: url('../images/btn_clue_hover.png') center center no-repeat;
    }
    .modalContainer .closeBtn:hover, .playerModalContainer .closeBtn:hover, .menuCloseBtn:hover{
        background: url('../images/closeicon-300_hover.png');
        background-size: 100% 100%;
    }
    .playerModalContainer .playerNextBtn:hover{
        background: url('../images/btn_next_hover.png');
        background-size: 100% 100%;
    }
    .modalContainer .sfxBtn:hover{
        background: url('../images/ic_hearing_black_24dp_2x_hover.png');
        background-size: 100% 100%;
        background-color: white;
    }
    .debugMenu .debugitem:hover {
        background-color: lightblue;
    }

    .gameCloseBtn:hover{
        background: url('../images/close_game_hover.png');
        background-color: rgba(255,255,255,0.6);
        background-size: 100% 100%;
    }
}

.pContent {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor:default;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.gameCanvas {
    position: absolute;
    /*top: calc(50% - 384px);
    left: calc(50% - 512px);*/
    pointer-events:none;
    /*z-index: 3;*/
}
.uiLayer {
	background-color:rgb(200,200,200);
    position: absolute;
    width:1024px; 
    height:768px;
    top: calc(50% - 384px);
    left: calc(50% - 512px);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor:default;
    /*z-index: 1;*/
}
.uiLayer.bg1 {
	background: url('../images/elephant_bg1.gif') center center no-repeat;
}
.playerIcon {
    position: absolute;
    bottom: 2px;
    left: calc(50% - 435px * 0.25);
    background-repeat: no-repeat;
    width: calc(435px * 0.50);
    height: calc(165px * 0.50);
}
.exploremap {
	width: calc(475px * 2);
	height: calc(310px * 2);
	position: absolute;
	top: 33px;
	left: calc(50% - 475px);
}
.exploremap .mapSection {
	/**/
}
.firstPerson {
	font-size:0px;
	display:inline-block;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	pointer-events:none;
}
.mapGridOverlay {
	width:100%;
	height:100%;
	font-size:0px;
	display:inline-block;
	position:absolute;
	top:0px;
	left:0px;
}
.mapGrid {
    /*background: url('../images/bg_explore.gif');*/
	font-size:0px;
	display:inline-block;
	position:absolute;
	top:0px;
	left:0px;
}
.GPSContainer {
    -webkit-transform: scale(0.23);
    transform: scale(0.23);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 232px;
    left: -358px;
    border: solid 2px black;
}
.mapGPS {
    /*background: url('../images/bg_explore.gif');*/
    font-size:0px;
    display:inline-block;
    position:absolute;
    top:0px;
    left:0px;
}
.mapGPSOverlay{
    width:100%;
    height:100%;
    font-size:0px;
    display:inline-block;
    position:absolute;
    top:0px;
    left:0px;
}
.gps-arrow-north{
    background-image: url('../images/gps-pointer-large-up.png');
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat;
}
.gps-arrow-east{
    background-image: url('../images/gps-pointer-large-right.png');
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat;
}
.gps-arrow-west{
    background-image: url('../images/gps-pointer-large-left.png');
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat;
}
.gps-arrow-south{
    background-image: url('../images/gps-pointer-large.png');
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat;
}
.leftArrow {
	background: url('../images/btn_360_left_2.png');
    position: absolute;
    bottom: 400px;
    left: 24px;
    width: 201px;
    height: 97px;
    display: none;
}
.leftArrow:active {
    background: url('../images/btn_360_left_2_on.png');
}
.rightArrow {
	background: url('../images/btn_360_right_2.png');
    position: absolute;
    bottom: 400px;
    right: 24px;
    width: 201px;
    height: 97px;
    display: none;
}

.rightArrow:active {
    background: url('../images/btn_360_right_2_on.png');
}
.returnBtn {
	position: absolute;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    bottom: 116px;
    left: calc(50% - 50px);
    background-color: lightgray;
    border: solid 2px black;
}
.uiLayer.cluePhase {
    background-color: black;
}
.clueMap {
    position: absolute;
    top: 84px;
    left: 37px;
    width: 750px;
    height: 489px;
    background-color: white;
}
.clueBar, .searchBar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(200px - 8px);
    height: calc(768px - 8px);
    background-color: black;
    border: solid 4px darkgray;
}
.clueBar .clueDrop1 {
    position: absolute;
    top: 32px;
    left: calc(50% - 75px);
    width: 150px;
    height: 175px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid gray;
}
.clueBar .clueDrop2 {
    position: absolute;
    /*background: url('../images/icon_legend.png') center center no-repeat;*/
    bottom: calc(160px + 117px + 100px);
    left: calc(50% - 58px);
    width: 116px;
    height: 117px;
    background-color: white;
}
.searchBar .clueDrop1 {
    position: absolute;
    top: 32px;
    left: calc(50% - 75px);
    width: 150px;
    height: 175px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid gray;
}
.searchBar .clueDrop2 {
    position: absolute;
    top: 250px;
    left: calc(50% - 75px);
    width: 150px;
    height: 175px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid gray;
}
.clueBar .clueLegend {
    background: url('../images/btn_legend.png') center center no-repeat;
    position: absolute;
    bottom: 160px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background-color: white;
}

.clueBar .clueLegend:active{
    background: url('../images/btn_legend_on.png') center center no-repeat;
}
.clueBar .clueDoneBtn {
    background: url('../images/btn_done.png') center center no-repeat;
    position: absolute;
    bottom: 26px;
    left: calc(50% - 74px);
    width: 148px;
    height: 76px;
    /*background-color: white;
    border-radius: 5px;
    border: solid 2px black;*/
}

.clueBar .clueDoneBtn:active {
    background: url('../images/btn_done_on.png') center center no-repeat;
}
.searchBar .clueDoneBtn {
    background: url('../images/btn_done.png') center center no-repeat;
    position: absolute;
    bottom: 26px;
    left: calc(50% - 74px);
    width: 148px;
    height: 76px;
}

.searchBar .clueDoneBtn:active {
    background: url('../images/btn_done_on.png') center center no-repeat;
}
.cluePhase .playerIcon {
    position: absolute;
    bottom: 2px;
    left: 303.25px;
    background-repeat: no-repeat;
    width: calc(435px * 0.50);
    height: calc(165px * 0.50);
}
.cluePhase .clueRect {
    position: absolute;
    bottom: 132px;
    right: 8px;
    border: solid 2px gray;
    width: 172px;
    height: 382px;
}
.cluePhase .clueIcon {
    position: absolute;
    background: url('../images/btn_clue.png') center center no-repeat;
    width: 116px;
    height: 117px;
}

.cluePhase .clueIcon:active {
    background: url('../images/btn_clue_on.png') center center no-repeat;
}
.dragClue {
    position: absolute;
    top:0px;
    left:0px;
    width:150px;/*250px*/
    height:175px;/*100px*/
}
.modalOverlay {
    position: absolute;
    top:0px;
    left:0px;
    width:1024px;
    height:768px;
    background-color: rgba(0,0,0,0.5);
}
.modalContainer {
    position: absolute;
    top: 40px;
    left: calc(50% - 450px);
    width: 900px;
    height: 640px;
    background-color: lightgray;
    border: solid 3px white;
    box-sizing: border-box;
}
.playerModalOverlay {
    position: absolute;
    top:0px;
    left:0px;
    width:1024px;
    height:768px;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
}
.playerModalContainer {
    position: absolute;
    top: 40px;
    left: calc(50% - 450px);
    width: 900px;
    height: 640px;
    background-color: lightgray;
    border: solid 3px white;
    box-sizing: border-box;
    z-index: 10001;
    /*line-height: 640px;*/
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}
.modalContainer .closeBtn, .playerModalContainer .closeBtn, .menuCloseBtn{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background: url('../images/closeicon-300.png');
    background-size: 100% 100%;
}

.modalContainer .closeBtn:active, .playerModalContainer .closeBtn:active, .menuCloseBtn:active{
    background: url('../images/closeicon-300_on.png');
    background-size: 100% 100%;
}
.playerModalContainer .playerNextBtn{
    position: absolute;
    top: 400px;
    left: 400px;
    width: 85px;
    height: 44px;
    background: url('../images/btn_next.gif');
    background-size: 100% 100%;
}

.playerModalContainer .playerNextBtn:active{
    background: url('../images/btn_next_on.png');
    background-size: 100% 100%;
}
.modalContainer .sfxBtn{
    position: absolute;
    bottom: 34px;
    left: 256px;
    width: 48px;
    height: 48px;
    background: url('../images/ic_hearing_black_24dp_2x.png');
    background-size: 100% 100%;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
}

.modalContainer .sfxBtn:active{
    background: url('../images/ic_hearing_black_24dp_2x_on.png');
    background-size: 100% 100%;
    background-color: white;
}
.modalContainer .clueContainer{
    position: absolute;
    top: 10px;
    left: calc(50% - 300px);
    width: 600px;
    height: 454px;
    background: url('../images/clue/clue_bg.png');
    background-size: 100% 100%;
}
.modalContainer .clueImg{
    position: absolute;
    top: 22px;
    left: 358px;
    width: 380px;
    height: 424px;
}
.modalContainer .clueImgSrc{
    max-width: 100%;
    vertical-align: middle;
}
.modalContainer .clueText {
    width: 250px;
    height: 70px;
    position: absolute;
    border: solid 3px black;
    bottom: 20px;
    left: calc(50% - 125px);
    text-align: center;
    background-color: white;
    font-size: 30px;
    line-height: 70px;
}
.clueGridOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 0px;
}
.clueOverlayBox.active {
    background-color: rgba(0,0,0,0.5);
}
.titleTable {
    background: url('../images/title.jpg') center center no-repeat;
}
.titleText {
    margin-bottom: 90px;
}
.playBtn {
    position: absolute;
    width: 160px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    top: calc(50% + 40px);
    font-size: 36px;
    background-color: lightgray;
    left: calc(50% - 80px);
}

.playBtn:active {
    background-color:gray;
}
.correctOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,80,0,0.3);
}
.incorrectOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(80,0,0,0.3);
}
.correctImg {
    background-image: url('../images/check-green-hi.png');
    background-size: 10%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.incorrectImg {
    background-image: url('../images/cross-hi.png');
    background-size: 10%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.playerTextOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
}
.playerText {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 768px;
    line-height: 768px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.indicatorHand {
    position: absolute;
    top: 298px;
    left: 424px;
    width: 125px;
    height: 80px;
    background-image: url('../images/indicator-hand.png');
    pointer-events: none;
}
.menuContainer {
    position: absolute;
    width:100%;
    height:100%;
    background-color: white;
    box-sizing: border-box;
    border: solid 3px black;
}
.missionTitle {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100px;
    top: 220px;
    left: 0px;
    font-size: 50px;
}
.difficultyTitle {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100px;
    top: 10x;
    left: 0px;
    font-size: 50px;
}
.missionBox {
    width: 160px;
    height: 80px;
    background-color: lightgray;
    box-sizing: border-box;
    border: solid 2px black;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
}
.missionBox.tutorial {
    width: 160px;
    height: 40px;
    background-color: lightgray;
    box-sizing: border-box;
    border: solid 2px black;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}
.missionBoxOverlay {
    width: 160px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    background: url('../images/lock.png') center center no-repeat;
}
.missionBoxContainer {
    position: absolute;
    top: 90px;
    left: 0px;
    width: 100%;
}
.missionBoxContainer.one {
    position: absolute;
    top: 360px;
    left: 0px;
    width: 100%;
}
.missionBoxContainer.overlay {
    pointer-events:none;
}
.missionBox.x {
    background-color:indianred;
}
.missionBox.b1 {
    background-color:#98c95c;
}
.missionBox.b2 {
    background-color:#95bef4;
}
.missionBox.b3 {
    background-color:#f7d19b;
}
.missionBox.b4{
    background-color:#d0c3db;
}
.missionBoxOverlay.l1 {
    /**/
}
.missionBoxOverlay.l2 {
    /**/
}
.missionBoxOverlay.l3 {
    /**/
}
.missionBoxOverlay.l4{
    /**/
}
.missionBox.d1 {
    background-color:dodgerblue;/*#98c95c;*/
}
.missionBox.d2 {
    background-color:dodgerblue;/*#f2d385;*/
}
.missionBox.d3 {
    background-color:dodgerblue;/*#e57c69;*/
}
.legendImgSize {
    width:calc(150px / 2);
    height:calc(175px / 2);
    margin-right:18px;
}
.clueMapMask {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 824px;
    height: 768px;
}
.clueMapMask .l{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 625px;
    background-color: black;
}
.clueMapMask .r{
    position: absolute;
    top: 0px;
    left: 775px;
    width: 50px;
    height: 625px;
    background-color: black;
}
.clueMapMask .u{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 824px;
    height: 50px;
    background-color: black;
}
.clueMapMask .d{
    position: absolute;
    top: 625px;
    left: 0px;
    width: 824px;
    height: 143px;
    background-color: black;
}
.foundMsg {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 610px;
    pointer-events: none;
}
.debugBtn {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: black;
    opacity:0;
    background: url('../images/debug-left1.png') center center no-repeat;
    background-color: gray;
    background-size: 90%;
}
.debugMenu {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 280px;
    height: 50px;
    background-color: darkgray;
    display:none;
    font-size:0px;
}
.debugitem {
    display:inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    margin-right: 8px;
}
.debugitem.debugLock {
    margin-left: 16px;
    background: url('../images/debug-lock-close.png') center center no-repeat;
    background-color: white;
    background-size: 60%;
}
.debugitem.debugUnlock {
    margin-left: 8px;
    background: url('../images/debug-lock-open.png') center center no-repeat;
    background-color: white;
    background-size: 90%;
}
.debugitem.debugSound {
    margin-left: 8px;
    background: url('../images/debug-sound.png') center center no-repeat;
    background-color: white;
    background-size: 90%;
}
.debugitem.debugSound.mute {
    margin-left: 8px;
    background: url('../images/debug-sound-off.png') center center no-repeat;
    background-color: white;
    background-size: 90%;
}
.debugitem.debugRandom {
    margin-left: 8px;
    background: url('../images/dice-300px.png') center center no-repeat;
    background-color: white;
    background-size: 90%;
    margin-right: 0px;
}
.debugitem.debugRandom.random {
    background-color: lightblue;
}

.cap1:first-letter {
    text-transform: capitalize;
}

.terrainunlock {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    width: 100%;
}

.clueDrop1txt {
    position: absolute;
    width: 141px;
    top: 184px;
    left: 25px;
    text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.clueDrop2txt {
    position: absolute;
    width: 141px;
    top: 403px;
    left: 25px;
    text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.gameCloseBtn{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background: url('../images/close_game.png');
    background-color: rgba(255,255,255,0.6);
    background-size: 100% 100%;
}

.exploreText {
    position: absolute;
    bottom: 22px;
    background-color: white;
    width: 500px;
    height: 60px;
    border-radius: 10px;
    line-height: 60px;
    text-align: center;
    margin-left: calc(50% - 250px);
    font-size: 32px;
}